{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome</h1>

    {% if current_user %}
        Hello {{ current_user.name }}.
		
			<div class="list-group">
				<a href="Balance/expense" class="list-group-item">Add expense</a>
				<a href="/Balance/income" class="list-group-item">Add income</a>
				<a href="/Balance/thisMonth" class="list-group-item">Show balance</a>
				<a href="/profile/edit" class="list-group-item">Setings</a>
			</div>
			

       
    {% else %}
        <a href="/signup/new">Sign up</a> or <a href="/login">log in</a>.
    {% endif %}

{% endblock %}
